{:source-paths ["src"]
 :dependencies [[binaryage/devtools "0.9.10"]
                [nrepl "0.6.0"]
                [reagent "0.8.1"]]
 :builds       {:app {:target     :browser
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:common {:entries [thingy.core]}
                                   :dev {:init-fn live-proto.core/init!
                                         :depends-on #{:common}}
                                   :metro-parks-tacoma {:init-fn live-proto.metro-parks-tacoma.core/init!
                                                        ;:after-load live-proto.metro-parks-tacoma.core/mount-root
                                                        :depends-on #{:common}}}
                      ;:devtools   {:after-load live-proto.core/mount-root}
                      }}

 :dev-http     {3000 {:root    "public"
                      :handler user/app}}}
